:root {
    --transiction: 0.3s;
}


img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.dashbord-section {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.sidebar--section {
    background: #fff;
    width: 100%;
    max-width: 320px;
    transition: var(--transiction);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 11%);
}

.nav-bar-section {
    padding: 10px;
}

.side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 70px;
}

.image-box {
    width: 100%;
    max-width: 150px;
}

.image-box img {
    width: 100%;
    max-width: 115px;
}
img.unactive--logo {
    max-width: 50px;
}

.toggle-menu button {
    background: transparent;
    border: none;
    width: 8px;
}

.toggle-menu {
    width: 40px;
    aspect-ratio: 1;
    background: #f38616;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
}
.toggle-menu > img {
    transform: rotate(90deg);
    width: 100%;
    filter: brightness(0) invert(1);
    transition: 0.3s;
}

.content-top-bar .toggle-menu > img {
    transform: rotate(-90deg);
}

.hide--toggle--slide {
    transition: 0.3s;
    text-wrap: nowrap;
}

.nav-bar-section > ul > li {
    margin-bottom: 10px;
    border-radius: 50px;
}
.nav-bar-section ul li.dropdown--item--dashborad > .drop--link {
    display: flex;
    justify-content: space-between;
}
.nav-bar-section ul li.dropdown--item--dashborad > .drop--link > .nav-section-arrow {
    width: 14px;
    aspect-ratio: 1;
}

.nav-bar-section > ul > li > .drop--link.active--nav > .drop--list > img, .nav-bar-section > ul > li > .drop--link.active--nav > .nav-section-arrow > img {
    filter: brightness(0) invert(1);
}

.nav-bar-section ul li.dropdown--item--dashborad > a > .nav-section-arrow > img {
    width: 100%;
}

.nav-bar-section > ul > li > a , .nav-bar-section > ul > li > .drop--link{
    display: flex;
    color: #000;
    padding: 10px 15px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #e1e1e1;
    transition:var(--transiction);
    height: 50px;
    align-items: center;
}
.nav-bar-section ul li > a:hover, .nav-bar-section > ul > li > .drop--link:hover{
    background: #f38616;
    cursor: pointer;
}
.nav-bar-section ul li > a:hover .drop--list > .hide--toggle--slide,  .nav-bar-section > ul > li > .drop--link:hover .drop--list > .hide--toggle--slide {
    color: #fff;
}

.nav-bar-section ul li > a:hover .drop--list > img, .nav-bar-section ul li > a:hover .nav-section-arrow > img, .nav-bar-section > ul > li > .drop--link:hover .nav-section-arrow > img, .nav-bar-section > ul > li > .drop--link:hover .drop--list > img{
    filter: brightness(0) invert(1);
}

.nav-bar-section > ul > li > .active--nav {
    background: #f38616;
    color: #fff;
}
.nav-bar-section > ul > li > .active--nav > .icon--nav {
    filter: brightness(0) invert(1);
}
.nav-bar-section ul li > a > .icon--nav, .nav-bar-section > ul > li > .drop--link > .drop--list > .icon--nav {
    width: 20px;
    margin-right: 10px;
}

.nav-bar-section ul li > a > .drop--list, .nav-bar-section > ul > li > .drop--link > .drop--list {
    display: flex;
    align-items: center;
}

.nav-bar-section ul li > a > .drop--list > .icon--nav {
    width: 20px;
    margin-right: 10px;
}

.nav-bar-section > ul > li > .sub-menu > li > a{
    display: flex;
    color: #000;
    padding: 15px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #e1e1e1;
    transition:var(--transiction);
    background-color: #e1e1e1;
}

.nav-bar-section > ul > li > .sub-menu{
    margin-top: 10px;
    display: none;
}
.nav-bar-section > ul > li > .active--nav ~ ul.sub-menu {
    display: block;
}
.nav-bar-section > ul > li > .sub-menu > li{
    margin-bottom: 10px;
}

.nav-bar-section > ul > li > .sub-menu > li > a:hover {
    background: #f38616;
}


.content--section {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.content-top-bar {
    display: flex;
    justify-content: flex-end;
    background: #373733;
    align-items: center;
    padding: 10px;
    height: 70px;
}

.top-bar-admin {
    display: flex;
    align-items: center;
    gap: 24px;
}
.top-bar-admin > h2 {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
}
.top-bar-admin > span {
    font-weight: 400;
}

.top-bar-admin-logo {
    width: 100%;
    max-width: 38px;
    aspect-ratio: 1/1;
    background: #fff;
    border-radius: 50%;
}

.dash-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, .1);
}

.dash-bar h3 {
    color: #000;
    font-size: clamp(20px, 2vw, 25px);
    font-weight: 400;
}

/* create company start */

.create-company-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    padding-top: 50px;
}

.create-company-form {
    max-width: 400px;
    width: 100%;
}

.form-create {
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #e5e5e5;
}

.form-lable {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.form-input {
    height: 100%;
    min-height: 40px;
    border-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
}

.form-textarea {
    height: 100px;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
    outline: none;
}

.form-submit {
    font-size: 16px;
    font-weight: 400;
    background: #f38616;
    border-color: transparent;
    padding: 7px 0px;
    transition: all 0.3s ease;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    min-height: 50px;
}

.form-submit:hover {
    background: #000;
    color: #fff;
}

/* View company start */
.view-company-table {

    padding: 50px;
}

.view-table {
    width: 100%;
    text-align: left;
}

.table-head {
    background: #373733;
    border-spacing: 0px;
    display: revert;
    text-indent: unset;
    padding: 15px;
    color: #fff;
    font-size: 16px;
}

/* .sr-number {
    width: 80px;
} */

.table-heading {
    padding: 10px 15px;
}

td.table-data {
    padding: 10px 15px;
}

.table-body tr:nth-child(even) {
    background: #706d6d2b;
}

.close-btn-sec {
    text-align: center;
}

button.close-btn {
    background: red;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

ul.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

ul.pagination > li > button {
    padding: 10px;
    background: #f38616;
    border: 1px solid #f38616;
    color: #fff;
    min-width: 120px;
    border-radius: 50px;
    cursor: pointer;
}

ul.pagination > li > button:disabled {
    background: #e8e8e8;
    border-color: #e8e8e8;
    color: #000;
}
ul.pagination-list {
    display: flex;
    gap: 10px;
}

ul.pagination-list > li.active {
    color: #f38616;
}


/* media queries */

@media (min-width: 768px){
    .content-top-bar{
        justify-content: flex-end;
    }
    .content-top-bar > .toggle-menu{
        display: none;
    }
    .sidebar--section.toggle--sidebar--slide {
        max-width: 70px;
    }
    
    .sidebar--section.toggle--sidebar--slide > .side-menu > .image-box {
        opacity: 0;
        max-width: 0;
    }
    .sidebar--section.toggle--sidebar--slide > .side-menu > .toggle-menu > img {
        transform: rotate(-90deg);
    }
    .sidebar--section.toggle--sidebar--slide > .side-menu {
        justify-content: center;
    }
    
    .sidebar--section.toggle--sidebar--slide .hide--toggle--slide {
        opacity: 0;
        width: 0px;
        visibility: hidden;
        display: block;
        height: 0px;
        overflow: hidden;
    }
    .toggle--sidebar--slide .nav-bar-section > ul > li > .active--nav ~ ul.sub-menu {
        display: none;
    }
    

    
}

@media (max-width:767px){
    .sidebar--section{
        position: fixed;
        height: 100%;
        left: 0px;
        top: 0;
    }

    .sidebar--section.toggle--sidebar{
        transform: translateX(-260px);
        background-color: transparent;
        box-shadow: none;
    }

    .sidebar--section.toggle--sidebar > .nav-bar-section{
        display: none;
    }
    .sidebar--section.toggle--sidebar > .side-menu > .toggle-menu > img {
        transform: rotate(-90deg);
    }
    .sidebar--section.toggle--sidebar--slide{
        transform: translateX(0px);
    }
    .sidebar--section.toggle--sidebar--slide > .nav-bar-section{
        display: block;
    }
    
}